<!DOCTYPE html>
<html>
  <%- include ('templates/Header.ejs'); %>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div>&nbsp;</div>
      <div class="container">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="faillog">Failed Fax Reports</a></li>
          <li role="presentation" class="active">
            <a href="search">Fax lookup</a>
          </li>
        </ul>
      </div>
      <div>&nbsp;</div>
    </nav>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p>
          Generate a Permanent failure log by pressing generate, this process
          may take several minutes
        </p>
        <button role="presentation">
          <a href="generate" download>Generate</a>
        </button>
        <button role="presentation">
          <a href="download" download>Download</a>
        </button>
      </div>
    </div>
  </body>
</html>
