<div class="sidebar" data-color="white">
  <div class="logo">
    <div class="card-padding">
      <a href="/">
        <img src="https://www.healius.com.au/assets/images/logo.svg" />
      </a>
    </div>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="">
        <a href="/">
          <i class="material-icons">fax</i>
          Fax Monitor
        </a>
      </li>
      <li>
        <a href="faillog">
          <i class="material-icons">report</i>
          <p>Failed Fax Reports</p>
        </a>
      </li>
      <li>
        <a href="search">
          <i class="material-icons">search</i>
          <p>Fax lookup</p>
        </a>
      </li>
      <li></li>
    </ul>
  </div>
</div>
